﻿*
{
    font-size: 9pt;
}
body
{
    margin: 0px;
    padding: 0px;
    font-family: 微软雅黑, 宋体, Arial, Helvetica, Verdana, sans-serif;
    color: #000000;
}
html, body
{
    margin: 0px auto;
    padding: 0px;
    height: 100%;
    overflow: hidden;
}
#loading
{
    position: absolute;
    z-index: 3000;
    left: 45%;
    top: 45%;
    border: 1px solid #ccc;
    width: auto;
    padding: 6px 5px 6px 40px;
    background: #fff url('../images/loading.gif') no-repeat scroll 7px 2px;
    display: none;
    cursor: pointer;
}
#Toploading
{
    position: absolute;
    z-index: 3000;
    top: 0%;
    border: 1px solid #f0c36d;
    margin-top:1px;
    color: #222;
    width: auto;
    padding: 4px;
    background: rgb(249, 237, 190);
    display: none;
    cursor: pointer;
}
a:link
{
    color: #222;
    text-decoration: none;
}
a:visited
{
    color: #222;
    text-decoration: none;
}
a:hover
{
    color: #222;
    text-decoration: none;
}
a:active
{
    color: #222;
    text-decoration: none;
}
.grid a:link
{
    color: #222;
    text-decoration: underline;
}
.grid a:visited
{
    color: #222;
    text-decoration: underline;
}
.grid a:hover
{
    color: #222;
    text-decoration: underline;
}
.grid a:active
{
    color: #222;
    text-decoration: none;
}
.example a:link
{
    color: #222;
    text-decoration: underline;
}
.example a:visited
{
    color: #222;
    text-decoration: underline;
}
.example a:hover
{
    color: #222;
    text-decoration: underline;
}
.example a:active
{
    color: #222;
    text-decoration: none;
}
/*****树表格****/
.example
{
    margin: 0px;
    border-collapse: collapse;
    width: 100%;
}
/*重点：固定表头样式*/
.example thead tr td
{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px dotted #ccc;
    background: url(../Images/datagrid_header_bg.gif) repeat-x;
    padding: 5px 1px;
    font-weight: normal;
    text-overflow:ellipsis; 
    word-break:keep-all;
    overflow:hidden;
}
.example tbody tr td
{
    border-bottom: 1px dotted #ccc;
    border-right: 1px dotted #ccc;
    padding: 1px 1px;
    height: 20px;
    word-break: break-all;
}
/*当鼠标放在行上时的颜色*/
.example tbody tr:hover
{
    background2: #D0E5F5;
    background1: #FBEC88;
    background: #e0eccc;
}
.example tbody .alt
{
    background: #F7F7F7;
}
/**表格 begin**/
.grid
{
    margin: 0px;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
.grid thead td
{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px dotted #ccc;
    background: url(../Images/datagrid_header_bg.gif) repeat-x;
    text-align: left;
    padding: 5px 1px;
    font-weight: normal;
    text-overflow:ellipsis; 
    word-break:keep-all;
    overflow:hidden;
}
.grid tbody td
{
    text-align: left;
    border-bottom: 1px dotted #ccc;
    border-right: 1px dotted #ccc;
    padding: 1px 1px;
    height: 20px;
    word-break: break-all;
}
.grid tbody .alt
{
    background: #F7F7F7;
}
.grid tbody .selected
{
    background2: #D0E5F5;
    background1: #FBEC88;
    background: #e0eccc;
}
/*当鼠标放在行上时的颜色*/
.grid tbody .trhover
{
    background2: #D0E5F5;
    background1: #FBEC88;
    background: #e0eccc;
}

.tableval
{
    margin: 0px;
    border-collapse: collapse;
    width: 100%;
}
.tableval tbody tr th
{
    background: url(../Images/datagrid_header_bg.gif) repeat-x;
    border-bottom: 1px solid #ccc;
    border-right: 1px dotted #ccc;
    padding: 4px 2px;
    font-weight: normal;
    text-align: left;
}
.tableval tbody tr td
{
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding: 1px 2px;
}
/**表格 end**/

/*全选*/
#checkAllOff
{
    padding-left: 20px;
    background: url(../Images/checkAllOff.gif) no-repeat scroll 4px 2px;
    cursor: pointer;
}
/*反选*/
#checkAllOn
{
    padding-left: 20px;
    background: url(../Images/checkAllOn.gif) no-repeat scroll 4px 2px;
    cursor: pointer;
}

/**表单验证 begin**/
.leftImage
{
    background: url(../Images/x1.gif) no-repeat right top;
    width: 14px;
    height: 33px;
}
.rightImage
{
    background: url(../Images/x3.gif) no-repeat left top;
    width: 6px;
    height: 33px;
}
.contenImage
{
    padding-right: 10px;
    font-size: 12px;
    background: url(../Images/x2.gif) 50% top;
    text-indent: 5px;
    line-height: 36px;
    padding-top: 3px;
    font-family: Arial;
    height: 33px;
}
.tableTip
{
    display: none;
    filter: alpha(opacity=90);
    overflow: hidden;
    position: absolute;
    border-collapse: collapse;
    empty-cells: hide;
    opacity: 0.9;
}
.tooltipinputerr
{
    background: url(../Images/validatebox_warning.png) #FFF7E3 no-repeat right center;
    border: 1px solid #CB8D5C;
    padding: 3px 2px 2px 2px;
    height: 15px;
    line-height: 15px;
}
.tooltipinputok
{
    border: 1px solid #A8A8A8;
    font: Verdana, Geneva, sans-serif,宋体;
    background-image: url(../Images/input_text_bg.gif);
    background-position: left top;
    padding: 3px 2px 2px 2px;
    height: 15px;
    line-height: 15px;
}
/**表单验证 end**/
#iframeMainContent
{
    height: 100%;
    width: 100%;
}
.iframeleft
{
    height: 100%;
    padding-right: 1px;
    margin: 0px;
    width: 150px;
    _width: 150px;
    float: left;
    padding-bottom: 1px;
    background-color: #ffffff;
    vertical-align: bottom;
    position: relative;
}
.iframeContent
{
    margin: 0px auto;
    height: 100%;
    overflow: hidden;
}
.div-body
{
    border: #ccc 1px solid;
    border-top: #ccc 0px solid;
    overflow: auto;
    scrollbar-face-color: #e4e4e4;
    scrollbar-heightlight-color: #f0f0f0;
    scrollbar-3dlight-color: #d6d6d6;
    scrollbar-arrow-color: #240024;
    scrollbar-darkshadow-color: #d6d6d6;
}
.div-overflow
{
    overflow: auto;
    scrollbar-face-color: #e4e4e4;
    scrollbar-heightlight-color: #f0f0f0;
    scrollbar-3dlight-color: #d6d6d6;
    scrollbar-arrow-color: #240024;
    scrollbar-darkshadow-color: #d6d6d6;
}
/**
按钮工具栏位
**/
.btnbartitle
{
    border-top: #ccc 1px solid;
    border-left: #ccc 1px solid;
    border-right: #ccc 1px solid;
    background-image: url('../images/datagrid_header_bg.gif');
    background-repeat: repeat-x;
    height: 27px;
    font-weight: bold;
}
.btnbartitle div
{
    padding: 5px;
}
.btnbarcontetn
{
    border-left: #ccc 1px solid;
    border-right: #ccc 1px solid;
    border-bottom: #ccc 1px solid;
    margin-bottom: 1px;
    padding-top: 2px;
    overflow: auto;
    scrollbar-face-color: #e4e4e4;
    scrollbar-heightlight-color: #f0f0f0;
    scrollbar-3dlight-color: #d6d6d6;
    scrollbar-arrow-color: #240024;
    scrollbar-darkshadow-color: #d6d6d6;
    background: #F7F7F7; /*工具栏的背景颜色*/
}
.btnbarcontetn div
{
    padding-left: 1px;
    padding-right: 1px;
    height: auto;
}
/**
按钮 begin
**/
.button
{
    display: inline-block;
    text-decoration: none;
    font: 8px/8px HelveticaNeue, Arial;
    padding: 0px 11px;
    border: 1px solid #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-family: 微软雅黑, 宋体, Arial, Helvetica, Verdana, sans-serif;
    font-size: 9pt;
    margin-top: 1px;
    margin-left: 2px;
    margin-bottom: 2px;
    line-height: 25px;
    color: #000;
    outline: none;
    background-image: url('../images/datagrid_header_bg.gif');
    background-repeat: repeat-x;
    border: 1px solid #ccc;
}
.button.green:hover
{
    color: #FFF;
    border: solid 1px #3399dd;
    background: #2288cc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc');
    background: linear-gradient(top, #33bbee, #2288cc);
    background: -moz-linear-gradient(top, #33bbee, #2288cc);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc));
    text-shadow: -1px -1px 1px #1c6a9e;
}
/**按钮图标**/
.icon-botton
{
    height: 23px;
    width: 16px;
    float: left;
    padding-right: 3px;
}
.l-btn-left
{
    display: inline-block;
    background: url('../images/button_span_bg.gif') no-repeat top left;
    padding: 4px 0px 4px 18px;
    line-height: 16px;
    height: 18px;
}
.l-btn-left img
{
    vertical-align: middle;
    padding-right: 5px;
    margin-bottom: 1px;
    border: 0px;
}
.l-btn
{
    background: url('../images/button_a_bg.gif') no-repeat top right;
    text-decoration: none;
    display: inline-block;
    zoom: 1;
    height: 26px;
    padding-right: 18px;
    cursor: pointer;
    outline: none;
}
.l-btn-lefthover
{
    background: url('../images/button_span_bg.gif') no-repeat bottom left;
}
.l-btnhover
{
    background: url('../images/button_a_bg.gif') no-repeat bottom right;
}
/**
按钮 end
**/

/**表单**/
.div-frm
{
    overflow: auto;
    scrollbar-face-color: #e4e4e4;
    scrollbar-heightlight-color: #f0f0f0;
    scrollbar-3dlight-color: #d6d6d6;
    scrollbar-arrow-color: #240024;
    scrollbar-darkshadow-color: #d6d6d6;
}
.frm
{
    width: 100%;
    margin-bottom: 1px;
  
   
}
.frm th
{
    width: 100px;
    border-bottom: 1px solid #ccc;
    height: 25px;
    line-height: 25px;
    white-space: nowrap;
    font-weight: normal;
    text-align: right;
    padding-right: 5px;
    padding-left: 20px;
}
.frm td
{
    width: auto;
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid #ccc;
    padding: 2px;
    padding-left: 10px;
    word-break: break-all;
}
.frm td .txt
{
    border: 1px solid #A8A8A8;
    font: Verdana, Geneva, sans-serif,宋体;
    background-image: url(../Images/input_text_bg.gif);
    padding: 3px 2px 0px 2px;
    height: 15px;
    line-height: 15px;
}
.frmtop
{
    margin-bottom: 1px;
    border-bottom: 1px solid #ccc;
    height: auto;
}
.frmbottom
{
    text-align: center;
    height: auto;
    margin-top: 10px;
    vertical-align: middle;
}
.select
{
    border: 1px solid #A8A8A8;
    height: 22px;
    line-height: 20px;
}
.txt
{
    border: 1px solid #A8A8A8;
    background-image: url(../Images/input_text_bg.gif);
    background-position: left top;
    padding: 3px 2px 2px 2px;
    height: 15px;
    line-height: 14px;
}
.txtSearch
{
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
    border-top-color: #A8A8A8;
    border-right-color: #A8A8A8;
    border-bottom-color: #A8A8A8;
    border-left-color: #A8A8A8;
    font: Verdana, Geneva, sans-serif,宋体;
    vertical-align: middle;
    padding-right: 15px;
}
.Searchwhere
{
    float: left;
    bborder: 1px solid #A8A8A8;
    font: Verdana, Geneva, sans-serif,宋体;
    height: 22px;
    line-height: 22px;
    margin-top: 3.5px;
}
input.SearchImg
{
    background: url(../Images/toolbar_find.png) #FFF no-repeat right center;
    height: 18px;
    line-height: 18px;
    z-index: 3000;
    font: Verdana, Geneva, sans-serif,宋体;
    margin-top: -2px;
}
.txtRemark
{
    font: Verdana, Geneva, sans-serif,宋体;
    border: 1px solid #A8A8A8;
}
/*home
------------------------------------------------*/
.box
{
    margin: 0px;
    padding: 0px;
    min-height: 65px;
    height: auto;
    border: 1px solid #ccc;
}
.box-title
{
    height: 27px;
    line-height: 25px;
    text-indent: 7px;
    background: url(../images/datagrid_header_bg.gif) repeat-x;
}
.box-title img
{
    padding-bottom: 3px;
    vertical-align: middle;
}
.box-content
{
    height: auto;
    padding: 7px;
    line-height: 20px;
}
.blank10
{
    margin: 0px auto;
    height: 1px;
    overflow: hidden;
}
.line
{
    margin: 0px auto;
    height: 1px;
    background: #ccc;
}
.topline
{
    border-top: 1px solid #ccc;
}
/*home end
------------------------------------------------*/

/*Tab
------------------------------------------------*/
div.Tabremovesel
{
    font-weight: bold;
    border: 0px;
    outline: none;
    display: inline-block;
    width: 85px;
    line-height: 26px;
    height: 26px;
    padding-left: 20px;
    vertical-align: bottom;
    margin-top: 3px;
    float: left;
    cursor: pointer;
    background: url(../Images/title_over.png) no-repeat left;
}
div.Tabsel
{
    font-weight: bold;
    color: #FFFFFF;
    border: 0px;
    outline: none;
    display: inline-block;
    width: 85px;
    line-height: 26px;
    height: 26px;
    color: white;
    padding-left: 20px;
    vertical-align: bottom;
    margin-top: 3px;
    float: left;
    cursor: pointer;
    background: url(../Images/title_over1.png) no-repeat left;
}
/*Tab end
------------------------------------------------*/
/*选择框的样式*/
#rect
{
    position: absolute;
    visibility: hidden;
    z-index: 999;
    background-color: #000000;
    filter: alpha(opacity=10); /* IE */
    -moz-opacity: 0.1; /* Moz + FF */
    opacity: 0.1;
    border: 1px dashed #00AAFF;
}
/*全局遮罩和局部遮罩*/
.pageBase_Div
{
    z-index: 999;
    -moz-opacity: 0.6; /*Firefox*/
    opacity: 0.6; /*Opera*/
    filter: alpha(opacity=60); /*IE*/
}